<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OAG - Online Art Gallery</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link rel="stylesheet" href="~/vendors/iconly/bold.css">
    <link rel="stylesheet" href="~/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="~/vendors/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/app.css">
    <link rel="stylesheet" href="~/css/edit.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    @*<link rel="shortcut icon" href="/images/favicon.svg" type="image/x-icon">*@
</head>
<body>
    @*<div id="loader"></div>
        <div style="display:none;" id="myDiv" class="animate-bottom">*@
    <div id="blur"></div>
    <div id="app">
        <div id="sidebar" class="active">
            <div class="sidebar-wrapper active">
                <div class="sidebar-header">
                    <div class="d-flex justify-content-between">
                        <div class="logo">
                            <a asp-action="Index" asp-controller="Home"><img style="width:160px; height:auto; padding:1rem;" src="~/images/logo/logo3.png" alt="LOGO" srcset=""></a>
                        </div>
                        <div class="toggler">
                            <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                        </div>
                    </div>
                </div>
                <div class="sidebar-menu">
                    <ul class="menu">
                        <li class="sidebar-title">Menu</li>
                        <li class="sidebar-item active ">
                            <a asp-action="Index" asp-controller="Home" class='sidebar-link'>
                                <i class="bi bi-grid-fill"></i>
                                <span>Dashboard</span>
                            </a>
                        </li>
                        @*<li class="sidebar-title">Forms &amp; Tables</li>*@
                        <li class="sidebar-item  has-sub">
                            <a href="#" class='sidebar-link'>
                                <i class="bi bi-octagon"></i>
                                <span>Category Manager</span>
                            </a>
                            <ul class="submenu ">
                                <li class="submenu-item ">
                                    @Html.ActionLink("List", "Index", "CategoryManager")
                                </li>
                            </ul>
                        </li>
                        @*<li class="sidebar-title">Extra UI</li>*@
                        <li class="sidebar-item  has-sub">
                            <a href="#" class='sidebar-link'>
                                <i class="bi bi-person"></i>
                                <span>User Manager</span>
                            </a>
                            <ul class="submenu ">
                                <li class="submenu-item ">
                                    @Html.ActionLink("List", "Index", "UserManager")
                                </li>
                                <li class="submenu-item ">
                                    @Html.ActionLink("Request Add Admin", "RequestAdmin", "UserManager")
                                </li>
                            </ul>
                        </li>
                        <li class="sidebar-item  has-sub">
                            <a href="#" class='sidebar-link'>
                                <i class="bi bi-stack"></i>
                                <span>Auction Manager</span>
                            </a>
                            <ul class="submenu ">
                                <li class="submenu-item ">
                                    @Html.ActionLink("List", "GetAll", "Auctions")
                                </li>
                            </ul>
                        </li>
                        <li class="sidebar-item  has-sub">
                            <a href="#" class='sidebar-link'>
                                <i class="bi bi-clipboard-check"></i>
                                <span>Product Manager</span>
                            </a>
                            <ul class="submenu ">
                                <li class="submenu-item ">
                                    @Html.ActionLink("List", "Index", "ProductManager")
                                </li>
                                <li class="submenu-item ">
                                    @Html.ActionLink("Request", "GetRequestUser", "ProductManager")
                                </li>
                            </ul>
                        </li>
                        <li class="sidebar-item  has-sub">
                            <a href="#" class='sidebar-link'>
                                <i class="bi bi-stack"></i>
                                <span>Order Manager</span>
                            </a>
                            <ul class="submenu ">
                                <li class="submenu-item ">
                                    @Html.ActionLink("List", "Ordering", "Order")
                                </li>
                                <li class="submenu-item ">
                                    @Html.ActionLink("Orders delivered", "SuccessfulDelivery", "Order")
                                </li>
                            </ul>
                        </li>
                        <li class="sidebar-item  has-sub">
                            <a href="#" class='sidebar-link'>
                                <i class="bi bi-cash-stack"></i>
                                <span>Transaction Manager</span>
                            </a>
                        </li>
                        <li class="sidebar-item  has-sub">
                            <a href="#" class='sidebar-link'>
                                <i class="bi bi-chat-square-dots"></i>
                                <span>Feedback Manager</span>
                            </a>
                        </li>
                        <li class="sidebar-title">Settings</li>
                        @{ var name = User.Identity.Name;
                            if (name == null)
                            {
                                <li class="sidebar-item">
                                    <a asp-action="Login" asp-controller="Accounts" class='sidebar-link'>
                                        <i class="bi bi-box-arrow-in-left"></i>
                                        <span>Login</span>
                                    </a>
                                </li>
                                <li class="sidebar-item">
                                    <a asp-action="Register" asp-controller="Accounts" class='sidebar-link'>
                                        <i class="bi bi-person-plus"></i>
                                        <span>Register</span>
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li class="sidebar-item">
                                    <a class='sidebar-link'>
                                        <i class="bi bi-person-circle"></i>
                                        <span>@name</span>
                                    </a>
                                </li>
                                <li class="sidebar-item">
                                    <a asp-action="Logout" asp-controller="Accounts" class='sidebar-link'>
                                        <i class="bi bi-box-arrow-right"></i>
                                        <span>Logout</span>
                                    </a>
                                </li>
                            }
                        }
                    </ul>
                </div>
                <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
            </div>
        </div>
        <div id="main">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>
            @RenderBody()
            <footer>
                <div class="footer clearfix mb-0 text-muted">
                    <div class="float-start">
                        <p>2022 &copy; OAG</p>
                    </div>
                    <div class="float-end">
                        <p>
                            Made <span class="text-danger"><i class="bi bi-heart"></i></span> by <a href="#">T1.2008.A0</a>
                        </p>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    @*</div>*@
    <script src="~/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    @*<script src="~/vendors/apexcharts/apexcharts.js"></script>*@
    <script src="~/js/pages/dashboard.js"></script>
    <script src="~/js/mazer.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
