@model ArtGallery.ViewModel.Catalog.Auctions.InsertAmountInAuctionRequest 
@using Newtonsoft.Json;
@using ArtGallery.Data.Entities
@using Microsoft.AspNetCore.Http
@{
    Layout = "_layout";
    ViewData["Title"] = "Auction Room";
}
<!--middle content-->
<div id="container">
    <div class="container">
        <div class="row">
            <!--left sidebar---->
            <aside class="col-sm-3 left-sidebar">
                <div class="box category">
                    <div class="box-heading">
                        <h3>@ViewData["Title"] <i class="fa fa-angle-up"></i></h3>
                    </div>
                    <div class="box-content test">
                        <div class="box-category">
                            <ul class="menu">
                                <li><a class="custom_hover">Auction Comming</a></li>
                                <li><a class="custom_hover">Auction Ended</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </aside>
            <!--end sidebar-->
            <!--main content-->
            <div class="col-sm-9 single-product" id="content">
                <ul class="breadcrumb">
                    <li><a asp-action="Home"><i class="fa fa-home"></i></a></li>
                    <li><a asp-action="AuctionRoom" asp-controller="Auctions">Auctions Room</a></li>
                </ul>
                <h5>Start Datetime: @ViewBag.auc.StartDateTime</h5>
                <h5>End Datetime: @ViewBag.auc.EndDateTime</h5>
                @{
                    if (ViewBag.auc.AmountInAcctions == null)
                    {
                        <form class="shoping-cart-view" asp-action="AuctionRoom" asp-controller="Auctions" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <td class="text-center">Image</td>
                                            <td class="text-left">Product Name</td>
                                            <td class="text-left">Current Price</td>
                                            <td class="text-left">Price Step</td>
                                            <td class="text-left">Lowest Price</td>
                                            <td class="text-left">Price</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-center">
                                                <div class="image">
                                                    <a href="single-product.html"><img class="img-thumbnail" src="~/images/note.png" width="120"></a>
                                                </div>
                                            </td>
                                            <td class="text-left">
                                                <a href="">@ViewBag.auc.Product.Title</a>
                                                <br />
                                                <small>Product Code: @ViewBag.auc.ProductId</small>
                                            </td>
                                            <td class="text-left">@ViewBag.auc.StartingPrice</td>
                                            <td class="text-left">@ViewBag.auc.PriceStep</td>
                                            <td class="text-left">@{decimal lowestPrice = ViewBag.auc.StartingPrice + ViewBag.auc.PriceStep;}@lowestPrice</td>
                                            <td class="text-center">
                                                <div style="max-width: 200px;" class="input-group btn-block">
                                                    <p class="clearfix">
                                                        <input asp-for="NewPrice" type="text" id="cart-q" class="form-control cart-q" size="1" value="1" />
                                                        <input asp-for="LowestPrice" value="@lowestPrice" class="text-left cart-product-total" type="hidden" />
                                                        <input asp-for="AuctionId" value="@ViewBag.auc.Id" class="text-left cart-product-total" type="hidden" />
                                                    </p>
                                                    <div>
                                                        <button type="submit" class="btn btn-custom">Set Price</button>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </form>
                    }
                    else
                    {
                        <form class="shoping-cart-view" asp-action="AuctionRoom" asp-controller="Auctions" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <td class="text-center">Image</td>
                                            <td class="text-left">Product Name</td>
                                            <td class="text-left">Current Price</td>
                                            <td class="text-left">Price Step</td>
                                            <td class="text-left">Lowest Price</td>
                                            <td class="text-left">Price</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-center">
                                                <div class="image">
                                                    <a><img class="img-thumbnail" src="~/images/note.png" width="120"></a>
                                                </div>
                                            </td>
                                            <td class="text-left">
                                                <a href="">@ViewBag.auc.Product.Title</a>
                                                <br />
                                                <small>Product Code: @ViewBag.auc.ProductId</small>
                                            </td>
                                            <td class="text-left">@ViewBag.auc.AmountInAcctions[0].NewPrice</td>
                                            <td class="text-left">@ViewBag.auc.PriceStep</td>
                                            <td class="text-left">@{decimal lowestPrice = ViewBag.auc.AmountInAcctions[0].NewPrice + ViewBag.auc.PriceStep;}@lowestPrice</td>
                                            <td class="text-left">
                                                <div style="max-width: 200px;" class="input-group btn-block">
                                                    <p class="clearfix">
                                                        <span asp-validation-for="NewPrice" class="text-danger"></span>
                                                        <input asp-for="NewPrice" type="text" id="cart-q" class="form-control cart-q" size="1" value="1" />
                                                        <input asp-for="LowestPrice" value="@lowestPrice" class="text-left cart-product-total" type="hidden" />
                                                        <input asp-for="AuctionId" value="@ViewBag.auc.Id" class="text-left cart-product-total" type="hidden" />
                                                    </p>
                                                    <div>
                                                        <button type="submit" class="btn btn-custom">Set Price</button>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </form>
                    }
                }
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <!-- Draft Countdown -->
                        <div class="timer">
                            <h1>Time Left</h1>
                            <div class="countdown-container">
                                <div class="countdown-el days-c">
                                    <p class="big-text" id="days">0</p>
                                    <span>Days</span>
                                </div>
                                <div class="countdown-el hours-c">
                                    <p class="big-text" id="hours">0</p>
                                    <span>Hours</span>
                                </div>
                                <div class="countdown-el mins-c">
                                    <p class="big-text" id="mins">0</p>
                                    <span>Mins</span>
                                </div>
                                <div class="countdown-el seconnds-c">
                                    <p class="big-text" id="seconds">0</p>
                                    <span>Seconds</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
    </div>
</div>
<!--timer-->
<script>
   //const newYears = '1 Jan 2023'
    const newYears = '@(System.Web.HttpUtility.HtmlEncode(ViewBag.auc.EndDateTime))';
    const daysEl = document.getElementById('days');
    const hoursEl = document.getElementById('hours');
    const minsEl = document.getElementById('mins');
    const seconsdEl = document.getElementById('seconds');
    function countdown() {
        const newYearsDate = new Date(newYears);
        const currentDate = new Date();
        const totalSeconsds = (newYearsDate - currentDate) / 1000;
        const days = Math.floor(totalSeconsds / 3600 / 24);
        const hours = Math.floor((totalSeconsds / 3600) % 24);
        const mins = Math.floor(totalSeconsds / 60) % 60;
        const seconsd = Math.floor(totalSeconsds) % 60;

        daysEl.innerHTML = days;
        hoursEl.innerHTML = hours;
        minsEl.innerHTML = mins;
        seconsdEl.innerHTML = seconsd;
        if (totalSeconsds == 0) {
            window.location.href = "vanchien.html";
        }
    }
    countdown();
    setInterval(countdown, 1000);
</script>
<!--End of middle content-->