@using ArtGallery.Data.Entities
@{
    ViewData["Title"] = "Auction Comming";
    Layout = "_Layout";
    Pager pager = new Pager();
    int pageNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}
<!--middle content-->
<div id="container">
    <div class="container">
        <div class="row">
            <!--left sidebar---->
            <aside class="col-sm-3 left-sidebar">
                <div class="box category">
                    <div class="box-heading">
                        <h3>@ViewData["Title"] <i class="fa fa-angle-up"></i></h3>
                    </div>
                    <div class="box-content test">
                        <div class="box-category">
                            <ul class="menu">
                                <li>@Html.ActionLink("Auction Coming", "GetAuctionComming", "Auctions", new { @class = "custom_hover" })</li>
                                <li>@Html.ActionLink("Auction Going", "GetAuctionGoing", "Auctions", new { @class = "custom_hover" })</li>
                                <li>@Html.ActionLink("Auction Ended", "GetAuctionEnded", "Auctions", new { @class = "custom_hover" })</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </aside>
            <!--end sidebar-->
            <!--main content-->
            <div class="col-sm-9" id="content">
                <ul class="breadcrumb">
                    <li><a asp-action="Home"><i class="fa fa-home"></i></a></li>
                    <li><a asp-action="GetAuctionComming" asp-controller="Auctions">Auctions Comming</a></li>
                </ul>
                @if (ViewBag.aucComming.Count != 0)
                {
                    foreach (var item in ViewBag.aucComming as IEnumerable<Auction>)
                    {
                        <div class="row product-gallery-list-block">
                            <div class="product-layout product-list col-xs-12">
                                <div class="product-thumb">
                                    <div class="image">
                                        <a><img class="img-responsive" src="~/images/note.png"></a>
                                    </div>
                                    <div>
                                        <div class="caption">
                                            <h4><a>@item.Product.Title</a></h4><br />
                                            <p> <i class="fa fa-key"></i> @item.Id</p>
                                            <p class="price">
                                                <span class="price-tax">Starting Price: @item.Product.Price $</span>
                                                @*<span class="price-old">$122.00</span>
                                                    <span class="price-tax">Ex Tax: $90.00</span>*@
                                            </p>
                                            <p>Start: @item.StartDateTime</p>
                                            <p>End: @item.EndDateTime</p>
                                        </div>
                                        <div class="button-group">
                                            <a class="btn special-button"><i class="fa fa-eye"></i> <span>Views</span></a>
                                            @*<button class="btn special-button" type="button"><i class="fa fa-heart"></i></button>
                                                <button class="btn special-button" type="button"><i class="fa fa-exchange"></i></button>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <h4>There Are No Auction Rooms Available !!!</h4>
                }
            </div>
            <!--end main content-->
        </div>
        <div class="container">
            <div style="float:right;">
                <div class="col-md-12">
                    @if (pager.TotalPages > 0)
                    {
                        <ul class="pagination justify-content-end">
                            @if (pager.CurrentPage > 1)
                            {
                                @*<li class="page-item"><a class="page-link" asp-controller="CategoryManager" asp-action="Index" asp-route-pg="1">First</a></li>*@
                                <li class="page-item">
                                    <a class="page-link" asp-controller="Auctions" asp-action="GetAuctionComming" asp-route-pg="@(pager.CurrentPage - 1)">Previous</a>
                                </li>
                            }
                            @for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
                            {
                                <li class="page-item @(pge == pager.CurrentPage ? "active" : "")">
                                    <a class="page-link" asp-controller="Auctions" asp-action="GetAuctionComming" asp-route-pg="@pge">@pge</a>
                                </li>
                            }
                            @if (pager.CurrentPage < pager.TotalPages)
                            {
                                <li class="page-item">
                                    <a class="page-link" asp-controller="Auctions" asp-action="GetAuctionComming" asp-route-pg="@(pager.CurrentPage + 1)">Next</a>
                                </li>
                                @*<li class="page-item">
                                        <a class="page-link" asp-controller="CategoryManager" asp-action="Index" asp-route-pg="@(pager.TotalPages)">Last</a>
                                    </li>*@
                            }
                        </ul>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of middle content-->
