@model ArtGallery.Data.Entities.Product
@{
    Layout = "_Layout";
}
<!--middle content-->
<div id="container">
    <div class="container">
        <div class="row">
            <!--left sidebar---->
            <aside class="col-sm-3 left-sidebar">
                <div class="box category">
                    <div class="box-heading">
                        <h3>Categories <i class="fa fa-angle-up"></i></h3>
                    </div>
                    <div class="box-content test">
                        <div class="box-category">
                            <ul class="menu">
                                @foreach (var item in ViewBag.cate)
                                {
                                    <li><a asp-action="Home" asp-fragment="Home" asp-route-cateName="@item.Name" class="custom_hover">@item.Name</a></li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </aside>
            <!--end sidebar-->
            <!--main content-->
            <div class="col-sm-9 single-product" id="content">
                <ul class="breadcrumb">
                    <li><a asp-action="Home" asp-controller="Home"><i class="fa fa-home"></i></a></li>
                    <li><a asp-action="Detail" asp-controller="Home">Details</a></li>
                </ul>
                <div class="row">
                    <div class="col-sm-9">

                        <ul class="thumbnails list-unstyled">
                            @{
                                foreach (var item in Model.ProductImages)
                                {
                                    if (item.Thumbnail == true)
                                    {
                                        <li class="main-image-set"><a class="thumbnail"><img src="@Url.Content(item.ImagePath)" class="changeimg"></a></li>
                                    }
                                    else if (item.Thumbnail == false)
                                    {
                                        <li class="image-additional"><a class="thumbnail"> <img class="galleryimg" src="@Url.Content(item.ImagePath)"></a></li>
                                    }
                                }
                            }
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="col-sm-10">
                        <ul class="list-unstyled">
                            <li style="font-size: 16px;">Product Id: @Model.Id</li>
                            <li style="font-size: 16px;">Product Title: @Model.Title</li>
                            <li style="font-size: 16px;">Create Date: @Model.CreateDate</li>
                            <li>
                                <br />
                                <span style="font-size:24px;" class="price-new">$@Model.Price</span>
                            </li>
                            <li>
                                <br />
                                <a class="btn btn-add-cart" id="button-cart" href="cart.html"><span>Add to Cart</span><i class="fa fa-shopping-cart"></i></a>
                            </li>
                        </ul>

                        @*<div id="product">
                            <div class="add-block-one row">
                                <div class="col-md-4 col-sm-6 col-xs-12 text-left">
                                    
                                </div>
                            </div>
                        </div>*@
                        <!--<div class="rating">
                            <p>
                                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                                <a>0 reviews</a> / <a>Write a review</a>
                            </p>
                            <hr>-->
                            <!-- AddThis Button BEGIN -->
                            <!-- AddThis Button END -->
                        <!--</div>-->
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-10">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#tab-description">Description</a></li>
                            <li><a data-toggle="tab" href="#tab-review">Reviews</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="tab-description" class="tab-pane active">
                                <p>@Model.Description</p>
                            </div>
                            <div id="tab-review" class="tab-pane">
                                <form id="form-review" class="form-horizontal">
                                    @*<div id="review">
                                        <p>There are no reviews for this product.</p>
                                    </div>*@
                                    <div class="form-group required">
                                        <div class="col-sm-12">
                                            <label for="input-name" class="control-label">Your Name</label>
                                            <input type="text" class="form-control" id="input-name" value="" name="name">
                                        </div>
                                    </div>
                                    <div class="form-group required">
                                        <div class="col-sm-12">
                                            <label for="input-review" class="control-label">Your Review</label>
                                            <textarea class="form-control" id="input-review" rows="5" name="text"></textarea>
                                            @*<div class="help-block"><span class="text-danger">Note:</span> HTML is not translated!</div>*@
                                        </div>
                                    </div>
                                    @*<div class="form-group required">
                                        <div class="col-sm-12">
                                            <label class="control-label">Rating</label>
                                            &nbsp;&nbsp;&nbsp; Bad&nbsp;
                                            <input type="radio" value="1" name="rating">
                                            &nbsp;
                                            <input type="radio" value="2" name="rating">
                                            &nbsp;
                                            <input type="radio" value="3" name="rating">
                                            &nbsp;
                                            <input type="radio" value="4" name="rating">
                                            &nbsp;
                                            <input type="radio" value="5" name="rating">
                                            &nbsp;Good
                                        </div>
                                    </div>*@
                                    <div class="buttons clearfix">
                                        <div class="pull-right">
                                            <button class="btn btn-primary" id="button-review" type="button">Continue</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
              
            </div>
            <!--end main content-->
        </div>
    </div>
</div>
<br />
<!--End of middle content-->