@{
    Layout = "_Layout";
    ViewData["Title"] = "Home Page";
    Pager pager = new Pager();
    int pageNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}

<!--middle content-->
<div id="container">
    <div class="container">
        <div class="row">
            <!--left sidebar---->
            <aside class="col-sm-3 left-sidebar">
                <div class="box category">
                    <div class="box-heading">
                        <h3>Categories <i class="fa fa-angle-up"></i></h3>
                    </div>
                    <div class="box-content test">
                        <div class="box-category">
                            <ul class="menu">
                                @foreach (var item in ViewBag.cate)
                                {
                                    <li><a asp-action="Home" asp-fragment="Home" asp-route-cateName="@item.Name" class="custom_hover">@item.Name</a></li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </aside>
            <!--end sidebar-->
            <!--main content-->
            <div id="content" class="col-sm-9">
                <!--end banner images-->
                <!---featured image-->
                <div class="box featured-product featured-product-heading">
                    @*<div class="box-heading">
                        <h3>Featured Products</h3>
                    </div>*@
                    <div class="box-content">
                        <div class="row">
                            <div class="col-md-12">
                                <form asp-action="Home" asp-controller="Home" method="get">
                                    <input style="width:100%; border-radius:50px; font-size:14px;" type="text" class="form-control input-lg search-box" placeholder="Search..." name="search">
                                    @*<span class="input-group-btn">
                                    <button class="btn-lg search-button" type="submit"><i class="fa fa-search"></i></button>
                                    </span>*@
                                </form>
                            </div>
                        </div>
                        <br /> <br />
                        <div class="row">
                            @foreach (var item in Model)
                            {
                                <div class="product-layout col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <div class="product-thumb transiction">
                                        <a class="compare-button" asp-action="Detail" asp-controller="Home" asp-route-id="@item.Id"><i class="fa fa-search"></i></a>
                                        <a class="wishlist-button"><i class="fa fa-heart-o"></i></a>
                                        <div class="image">
                                            <a asp-action="Detail" asp-controller="Home" asp-route-id="@item.Id"><img style="width:100%;" href="@Url.Content(item.ProductImages[0].ImagePath)" src="@Url.Content(item.ProductImages[0].ImagePath)" @*class="img-responsive"*@></a>
                                        </div>
                                        <div class="caption">
                                            <div class="product-name"><a asp-action="Detail" asp-controller="Home" asp-route-id="@item.Id">@item.Title</a></div>
                                            <div class="price">
                                                <span class="price-new">@item.Price</span>
                                                <span class="price-old"></span>
                                            </div>
                                        </div>
                                        <div class="cart-button">
                                            <a class="btn btn-add-cart" href="cart.html">
                                                <span>
                                                    Add to Cart
                                                </span>
                                                <i class="fa fa-shopping-cart"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="clearfix"></div>

                    <!---end featured image-->
                    <!---best seller image-->
                    <!---end best seller image-->
                </div>
                <!--end main content-->
            </div>
        </div>
    </div>
    <div class="container">
        <div style="float:right;">
            <div class="col-md-12">
                @if (pager.TotalPages > 0)
                {
                    <ul class="pagination justify-content-end">
                        @if (pager.CurrentPage > 1)
                        {
                            @*<li class="page-item"><a class="page-link" asp-controller="CategoryManager" asp-action="Index" asp-route-pg="1">First</a></li>*@
                            <li class="page-item">
                                <a class="page-link" asp-controller="Home" asp-action="Home" asp-route-pg="@(pager.CurrentPage - 1)">Previous</a>
                            </li>
                        }
                        @for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
                        {
                            <li class="page-item @(pge == pager.CurrentPage ? "active" : "")">
                                <a class="page-link" asp-controller="Home" asp-action="Home" asp-route-pg="@pge">@pge</a>
                            </li>
                        }
                        @if (pager.CurrentPage < pager.TotalPages)
                        {
                            <li class="page-item">
                                <a class="page-link" asp-controller="Home" asp-action="Home" asp-route-pg="@(pager.CurrentPage + 1)">Next</a>
                            </li>
                            @*<li class="page-item">
                                    <a class="page-link" asp-controller="CategoryManager" asp-action="Index" asp-route-pg="@(pager.TotalPages)">Last</a>
                                </li>*@
                        }
                    </ul>
                }
            </div>
        </div>
    </div>
</div>
<!--End of middle content-->