@*@model IEnumerable<ArtGallery.Data.Entities.Product>*@
@using ArtGallery.Data.Entities
@{
    Layout = "_Layout";
    ViewData["Title"] = "Gallery";
}
<!--middle content-->
<div id="container">
    <div class="container">
        <div class="row">
            <!--left sidebar---->
            <aside class="col-sm-3 left-sidebar">
                <div class="box category">
                    <div class="box-heading">
                        <h3>@ViewData["Title"]<i class="fa fa-angle-up"></i></h3>
                    </div>
                    <div class="box-content test">
                        <div class="box-category">
                            <ul class="menu">
                                <li><a asp-action="GetAuction" asp-controller="ManagerStores" class="custom_hover">Auction</a></li>
                                <li><a asp-action="CreateAuction" asp-controller="ManagerStores" class="custom_hover"> Add Auctions</a></li>
                                <li><a asp-action="GetProduct" asp-controller="ManagerStores" class="custom_hover">Product</a></li>
                                <li><a asp-action="CreateProduct" asp-controller="ManagerStores" class="custom_hover">Add Products</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </aside>
            <!--end sidebar-->
            <!--main content-->
            <div class="col-sm-9 single-product" id="content">
                <ul class="breadcrumb">
                    <li><a asp-action="Home" asp-controller="Home"><i class="fa fa-home"></i></a></li>
                    <li><a asp-action="GetProduct" asp-controller="ManagerStores">@ViewData["Title"]</a></li>
                </ul>
                <!--related product-->
                <div class="box related-product-heading margin-top">
                    <div class="table-responsive">
                        <table class="table table-light mb-0">
                            <thead>
                                <tr>
                                    <th class="col-3">Title</th>
                                    <th class="col-4">Description</th>
                                    <th class="col-1">Price</th>
                                    <th class="col-4">Image</th>
                                    <th class="col-3">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                               @foreach (var item in ViewBag.products as IEnumerable<Product>)
                                {
                                <tr>
                                    <td class="text-bold-500">@item.Title</td>
                                    <td class="post">
                                        <p class="content">@item.Description</p>
                                        <button onclick="readMore(this)" hidden="hidden"></button>
                                    </td>
                                    <td>@item.Price</td>
                                    @foreach (ProductImage img in item.ProductImages)
                                    {
                                        if (img.Thumbnail == true)
                                        {
                                            <td>
                                                <img src="@Url.Content(img.ImagePath)" style="width:100px; height:auto;">
                                            </td>
                                        }
                                    }
                                    <td>
                                        <span onclick="return confirm('Are you sure want to delete this data ?')">
                                            <a asp-action="DeleteProduct" asp-controller="ManagerStores" asp-route-id="@item.Id">Delete</a>&nbsp;|
                                        </span>
                                        @*<input type="button" asp-controller="CategoryManager" asp-action="" asp-route="@item.Id" class="btn btn-danger" value="Delete" name="alertMsg" id="btnAlertMsg" onclick="myFunction()" />*@
                                        <a asp-action="UpdateProduct" asp-controller="ManagerStores" asp-route-id="@item.Id">Update</a>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--end-->
            </div>
            <!--end main content-->
        </div>
    </div>
</div>
<!--End of middle content-->
<script>
    let noOfCharac = 24;
    let contents = document.querySelectorAll(".content");
    contents.forEach(content => {
        //If text length is less that noOfCharac... then hide the read more button
        if (content.textContent.length < noOfCharac) {
            content.nextElementSibling.style.display = "none";
        }
        else {
            let displayText = content.textContent.slice(0, noOfCharac);
            let moreText = content.textContent.slice(noOfCharac);
            content.innerHTML = `${displayText}<span class="dots">...</span><span class="hide more">${moreText}</span>`;
        }
    });

    function readMore(btn) {
        let post = btn.parentElement;
    }
</script>