@using ArtGallery.ViewModel.System.Admin;
@model CategoryModelView
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Category List";
    Pager pager = new Pager();
    int pageNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}
<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>@ViewData["Title"]</h3>
                <p class="text-subtitle text-muted">For admin to check they list</p>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">@Html.ActionLink("Dashboard", "Index", "Home")</li>
                        <li class="breadcrumb-item active" aria-current="page">Category</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <section class="section">
        <div class="card">
            <div class="card-header">
                <div class="row mb-3">
                    <div class="col-sm-12 col-md-4">
                        <div class="dataTables_length" id="table1_length">
                            <form asp-action="Create" asp-controller="CategoryManager" method="post">
                                <h6>Category Name</h6>
                                <input class="form-control form-control" type="text" asp-for="Name" placeholder="Name">
                                <br />
                                <h6>Description</h6>
                                <textarea class="form-control form-control" asp-for="Description" rows="3" style="height: auto;" placeholder="Description"></textarea>
                                <div style="padding:4px;"></div>
                                <input type="submit" value="Create" class="btn btn-success" />
                                <span asp-validation-for="Name"></span>
                            </form>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3"></div>
                    <div class="col-sm-12 col-md-4">
                        <div id="PlaceHolderHere"></div>
                        <form asp-action="Index" asp-controller="CategoryManager" method="post">
                            <h6>Search by Name</h6>
                            <input class="form-control form-control" type="text" name="name" placeholder="Search">
                            <div style="padding:4px;"></div>
                            <input type="submit" value="Search" class="btn btn-success " />
                            <span asp-validation-for="Name"></span>
                        </form>
                    </div>
                    <div class="col-sm-12 col-md-3"></div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-light mb-0">
                        <thead>
                            <tr>
                                <th class="col-1">@Html.DisplayNameFor(c => c.Id)</th>
                                <th class="col-2">@Html.DisplayNameFor(c => c.Name)</th>
                                <th class="col-6">@Html.DisplayNameFor(c => c.Description)</th>
                                <th class="col-2">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                           @foreach (var item in Model.Categories)
                            {
                            <tr>
                                <td class="text-bold-500">@item.Id</td>
                                <td>@item.Name</td>
                                <td class="post">
                                    <p class="content">@item.Description</p>
                                    <button onclick="readMore(this)" hidden="hidden"></button>
                                </td>
                                <td>
                                    <span onclick="return confirm('Are you sure want to delete this data ?')">
                                        @Html.ActionLink("Delete", "Delete", "CategoryManager", new { id = item.Id }, new { @class = "btn btn-danger deleteBtn" })
                                    </span>
                                    @*<input type="button" asp-controller="CategoryManager" asp-action="" asp-route="@item.Id" class="btn btn-danger" value="Delete" name="alertMsg" id="btnAlertMsg" onclick="myFunction()" />*@
                                    @Html.ActionLink("Details", "Update", "CategoryManager", new { id = item.Id }, new { @class = "btn btn-primary" })
                                </td>
                            </tr>  
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="container">
                @if (pager.TotalPages > 0)
                {
                    <ul class="pagination justify-content-end">
                        @if (pager.CurrentPage > 1)
                        {
                            @*<li class="page-item"><a class="page-link" asp-controller="CategoryManager" asp-action="Index" asp-route-pg="1">First</a></li>*@
                            <li class="page-item">
                                <a class="page-link" asp-controller="CategoryManager" asp-action="Index" asp-route-pg="@(pager.CurrentPage - 1)">Previous</a>
                            </li>
                        }
                        @for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
                        {

                            <li class="page-item @(pge == pager.CurrentPage ? "active" : "")">
                                <a class="page-link" asp-controller="CategoryManager" asp-action="Index" asp-route-pg="@pge">@pge</a>
                            </li>

                        }
                        @if (pager.CurrentPage < pager.TotalPages)
                        {
                            <li class="page-item">
                                <a class="page-link" asp-controller="CategoryManager" asp-action="Index" asp-route-pg="@(pager.CurrentPage + 1)">Next</a>
                            </li>
                            @*<li class="page-item">
                                    <a class="page-link" asp-controller="CategoryManager" asp-action="Index" asp-route-pg="@(pager.TotalPages)">Last</a>
                                </li>*@
                        }
                    </ul>
                }
            </div>
        </div>
    </section>
</div>

<script>
    let noOfCharac = 40;
    let contents = document.querySelectorAll(".content");
    contents.forEach(content => {
        //If text length is less that noOfCharac... then hide the read more button
        if (content.textContent.length < noOfCharac) {
            content.nextElementSibling.style.display = "none";
        }
        else {
            let displayText = content.textContent.slice(0, noOfCharac);
            let moreText = content.textContent.slice(noOfCharac);
            content.innerHTML = `${displayText}<span class="dots">...</span><span class="hide more">${moreText}</span>`;
        }
    });

    function readMore(btn) {
        let post = btn.parentElement;
    }
</script>

<script>
//    function myFunction() {
//        Swal.fire({
//            title: 'Are you sure?',
//            text: "You won't be able to revert this!",
//            icon: 'warning',
//            showCancelButton: true,
//            confirmButtonColor: '#3085d6',
//            cancelButtonColor: '#d33',
//            confirmButtonText: 'Yes, delete it!'
//        }).then((result) => {
//            if (result.isConfirmed) {
//                Swal.fire(
//                    'Deleted!',
//                    'Your file has been deleted.',
//                    'success'
//                )
//            }
//        })
//}
</script>
