@using ArtGallery.ViewModel.System.Admin;
@model CategoryModelView
@{
    ViewData["Title"] = "Category List";
}
<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>@ViewData["Title"]</h3>
                <p class="text-subtitle text-muted">For admin to check they list</p>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">@Html.ActionLink("Dashboard", "Index", "Home")</li>
                        <li class="breadcrumb-item active" aria-current="page">Category</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <section class="section">
        <div class="card">
            <div class="card-header">
                <div class="row mb-3">
                    <div class="col-sm-12 col-md-4">
                        <div class="dataTables_length" id="table1_length">
                            <form asp-action="Create" asp-controller="CategoryManager" method="post">
                                <div style="padding:4px;"></div>
                                <h6>Category Name</h6>
                                <input class="form-control form-control" type="text" asp-for="Name" placeholder="Name">
                                <div style="padding:4px;"></div>
                                <h6>Description</h6>
                                <textarea class="form-control form-control" asp-for="Description" rows="3" style="height: auto;" placeholder="Description"></textarea>
                                <div style="padding:4px;"></div>
                                <input type="submit" value="Create" class="btn btn-success" />
                                <span asp-validation-for="Name"></span>
                            </form>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3"></div>
                    <div class="col-sm-12 col-md-4">
                        <div id="PlaceHolderHere"></div>
                        <form asp-action="Index" asp-controller="CategoryManager" method="post">
                            <div style="padding:4px;"></div>
                            <h6>Search by Name</h6>
                            <input class="form-control form-control" type="text" name="name" placeholder="Search">
                            <div style="padding:4px;"></div>
                            <input type="submit" value="Search" class="btn btn-success " />
                            <span asp-validation-for="Name"></span>
                        </form>
                    </div>
                    <div class="col-sm-12 col-md-3"></div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-light mb-0">
                        <thead>
                            <tr>
                                <th class="col-1">@Html.DisplayNameFor(c => c.Id)</th>
                                <th class="col-2">@Html.DisplayNameFor(c => c.Name)</th>
                                <th class="col-7">@Html.DisplayNameFor(c => c.Description)</th>
                                <th class="col-4">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Categories)
                            {
                                <tr>
                                    <td class="text-bold-500">@item.Id</td>
                                    <td>@item.Name</td>
                                    <td class="post">
                                        <p class="content">@item.Description</p>
                                        <button onclick="readMore(this)" hidden="hidden"></button>
                                    </td>
                                    <td>
                                        @Html.ActionLink("Delete", "Delete", "CategoryManager", new { id = item.Id }, new { @class = "btn btn-danger" })
                                        @Html.ActionLink("Details", "Update", "CategoryManager", new { id = item.Id }, new { @class = "btn btn-primary" })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>
<script>
    let noOfCharac = 200;
    let contents = document.querySelectorAll(".content");
    contents.forEach(content => {
        //If text length is less that noOfCharac... then hide the read more button
        if (content.textContent.length < noOfCharac) {
            content.nextElementSibling.style.display = "none";
        }
        else {
            let displayText = content.textContent.slice(0, noOfCharac);
            let moreText = content.textContent.slice(noOfCharac);
            content.innerHTML = `${displayText}<span class="dots">...</span><span class="hide more">${moreText}</span>`;
        }
    });

    function readMore(btn) {
        let post = btn.parentElement;
    }
</script>
<style>
    .post {
        font-family: "Poppins",sans-serif;
    }
    .content{
        margin-top: 10px;
    }
        .post p {
            font-size: 16px;
        }
        .post button {
            padding: 5px;
            background-color: #ff0268;
            color: #ffffff;
            border: none;
            cursor: pointer;
        }

        .post:not(:last-child) {
            margin-bottom: 50px;
        }

    .hide {
        display: none;
    }
</style>
